@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/* 
Colors 
    #BBC4C2 (lightest)
    #7E7C73
    #464033
    #140005 (darkest)
*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #464033;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: black;
  width: 100%;
  padding: 1em 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-title {
  text-align: center;
  color: #BBC4C2;
}


/* Main App Styles */

.editor-area {
  border: 3px solid #7E7C73;
  border-radius: 5px;
  background-color: #BBC4C2;
  padding: 1em;
  margin: 3em auto;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#editor {
  resize: none;
  width: 100%;
  padding: 0.5em;
}

.previewer-area {
  width: 100%;
  padding: 1em;
  background-color: #140005;
  border: 5px solid #BBC4C2;
  border-radius: 5px;
  color: #BBC4C2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 50px;
}